<!-- Botón de crear una nueva wiki -->
<div class="crearWiki-button mt-4 flex justify-end" style="padding: 1%;">
    <button (click)="crearWiki()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
        Crear nueva wiki
    </button>
</div>

<app-barra-busqueda (busqueda)="onSearchTextChanged($event)"></app-barra-busqueda>


<div class="wiki-list mt-4">
    <ul *ngIf="wikisFiltradas.length > 0; else sinResultados" class="space-y-4">
        <li *ngFor="let wiki of wikisFiltradas" class="p-4 bg-white rounded shadow">
            <h2 class="text-xl font-semibold">{{ wiki.nombre }}</h2>
        </li>
    </ul>
</div>

<ng-template #sinResultados>
    <h2 class="text-center text-gray-500">No se encontraron resultados</h2>
</ng-template>
