<div class="wiki-list mt-4 flex flex-col gap-4">
  @if (wikisFiltradas.length > 0) {
  <ul class="w-full gap-4 space-y-4">
    @for (wiki of wikisFiltradas; track wiki.id) {
    <li (click)="handleWikiClick(wiki.id)" class="flex w-full justify-between rounded bg-white p-4 shadow">
      <div class="flex-grow cursor-pointer">
        <h2 class="text-xl font-semibold">{{ wiki.nombre }}</h2>
        <p>{{ wiki.descripcion }}</p>
      </div>
      <!-- Contenedor para el botón -->
      <div class="flex items-center justify-end">
        <app-boton-editar (click)="$event.stopPropagation(); editarWiki(wiki.id)"><!-- Evento al hacer click -->
        </app-boton-editar>
        <button (click)="$event.stopPropagation(); borrarWiki(wiki.id)"
          class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" style="height: min-content">
          Borrar
        </button>
      </div>
    </li>
    }
  </ul>
  } @else {
  <h2 class="text-center text-gray-500">No se encontraron resultados</h2>
  }
</div>
