.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .search-input {
        padding: 12px 15px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 25px;
        width: 100%;
        max-width: 500px;
        margin: 0;
        box-sizing: border-box;
        transition: all 0.3s ease;
        background-color: #fff;
        color: #333;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:focus {
            border-color: #91d5ff;
            outline: none;
            box-shadow: 0 0 8px rgba(76, 152, 175, 0.5);
        }

        &::placeholder {
            color: #999;
            font-style: italic;
        }

        @media (max-width: 600px) {
            max-width: 90%;
        }
    }
}