<div class="mx-auto max-w-4xl rounded-lg bg-white p-6 shadow-md">
  <h2 class="mb-2 text-3xl font-bold text-gray-900">{{ nombreEntrada }}</h2>

  <div class="flex justify-between text-sm text-gray-600">
    <div class="flex items-center space-x-2">
      <span class="font-semibold">Usuario:</span>
      <span>{{ nombreUsuario }}</span>
    </div>

    <div class="flex items-center space-x-2">
      <span class="font-semibold">Fecha de creación:</span>
      <span>{{ fechaCreacion | date: "dd MMMM yyyy" }}</span>
    </div>
  </div>
</div>
