<div class="max-w-4xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6 text-center">Comentarios</h1>
  
  <div *ngFor="let comentario of comentarios" class="bg-white rounded-lg shadow-lg p-6 mb-4">
    <h5 class="text-sm text-gray-500">Autor: {{ comentario.idUsuario }}</h5>
    <h5 class="text-sm text-gray-500">Fecha: {{ comentario.fechaCreacion }}</h5>
    <p class="text-gray-800 text-lg">{{ comentario.contenido }}</p>
  </div>

  <div>
    <form [formGroup]="comentarioForm" (ngSubmit)="crearComentario()">
      <div class="mb-4">
        <label for="contenido" class="block text-gray-700">Contenido</label>
        <input
          type="text"
          id="contenido"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          formControlName="contenido"
        />
      </div>

  
      <div class="mb-4">
        <button
          type="submit"
          class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
