<div class="max-w-4xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6 text-center">Comentarios</h1>

  <div>
    <form [formGroup]="comentarioForm" (ngSubmit)="crearComentario()" class="flex items-center mb-4">
      <div class="flex w-full items-center">
        <input type="text" id="contenido"
          class="flex-grow rounded-l-md border border-gray-300 p-2 shadow-sm focus:outline-none"
          formControlName="contenido" placeholder="Escribe tu comentario..." />
        <button type="submit" class="rounded-r-md bg-blue-500 px-4 py-2 text-white font-bold hover:bg-blue-600">
          Crear
        </button>
      </div>
    </form>
  </div>

  <div *ngFor="let comentario of comentarios" class="bg-white rounded-lg shadow-lg p-6 mb-4">
    <h5 class="text-sm text-gray-500">Autor: {{ comentario.idUsuario }}</h5>
    <h5 class="text-sm text-gray-500">Fecha: {{ comentario.fechaCreacion }}</h5>
    <p class="text-gray-800 text-lg">{{ comentario.contenido }}</p>
  </div>
</div>
