<div>
  <h1>Filtro de entradas</h1>
  <form (ngSubmit)="handleEntradasFilter()">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" [ngModel]="filtro.nombre" />
    </div>
    <div>
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" name="usuario" [ngModel]="filtro.autor" />
    </div>
    <div>
      <label for="fechaCreacion">Fecha de creación</label>
      <input type="date" id="fechaCreacion" name="fechaCreacion" [ngModel]="filtro.fechaCreacion" />
    </div>
    <button type="submit">Filtrar</button>
  </form>
</div>
