<h1 class="text-xl p-4">Lista de entradas de la wiki {{ nombre_wiki }}</h1>

<app-filter-entradas (filtroAplicado)="aplicarFiltro($event)" />

<div class="wiki-list mt-4 flex flex-col gap-4">
  <ul *ngIf="entradasFiltradas.length > 0; else sinResultados" class="space-y-4 w-full gap-4">
    <li *ngFor="let entrada of entradasFiltradas" (click)="handleEntradaClick(entrada.idVersionActual)"
      class="p-4 bg-white rounded shadow w-full">
      <h2 class="text-xl font-semibold">{{ entrada.nombre }}</h2>
      <p>{{ entrada.nombreUsuario }}</p>
      <p>Fecha de creación: {{ entrada.fechaCreacion }}</p>
    </li>
  </ul>
</div>

<app-boton-editar></app-boton-editar>

<ng-template #sinResultados>
  <h2 class="text-center text-gray-500">No se encontraron resultados</h2>
</ng-template>

<app-boton-atras></app-boton-atras>
