<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid flex justify-center align-middle">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/faviconCircular.ico"
        alt=""
        class="d-inline-block me-2 w-12 align-text-top"
      />
      <span>laWiki</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mt-1.5">
          <app-notificaciones></app-notificaciones>
        </li>
        @if (usuarioEnSesion()) {
          @if (usuarioEsAdmin()) {
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true" href="#"
                >Administrar usuarios</a
              >
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" href="/usuario/673d2a12ada998325690b320"
              >Ver perfil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#"
              >Cerrar sesión</a
            >
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#"
              >Registrarse</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#"
              >Iniciar sesión</a
            >
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
