@import "../../../node_modules/bootstrap/scss/bootstrap";

.collapse.navbar-collapse {
    visibility: visible;
}

.nav-link.active {
    font-weight: 500;
}

.nav-link.disabled {
    color: rgb(100, 100, 100)
}

.nav-link {
    font-weight: 350;
}

