<div class="mx-auto mt-4 max-w-3xl">
  <h2 class="mb-4 text-xl font-semibold text-gray-800">Valoraciones</h2>

  <div *ngIf="valoraciones.length === 0" class="text-center text-gray-600">
    <p>Ninguna valoración aún</p>
  </div>

  <ul *ngIf="valoraciones.length > 0" class="space-y-4">
    <li
      *ngFor="let valoracion of valoraciones"
      class="relative rounded-lg bg-white p-4 shadow"
    >
      <p class="font-semibold text-gray-700">
        {{ valoracion.nombreRedactor || "Cargando..." }}
      </p>
      <div class="absolute right-2 top-2 flex items-center text-yellow-400">
        <ng-container *ngFor="let star of getEstrellas(valoracion.nota)">
          <i [class]="star"></i>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
